h1, li, a, p
{
    font-family:monospace;
    font-size: 140%;
}

.fontCenter
{
    text-align: center;
    font-family: monospace;
}

.tinyButton
{
    color: rebeccapurple;
    text-decoration: none;
    text-align: center;
    display: block;
    font-weight: bold;
    border-style:solid;
    border-width: 3.5px;
    border-color:rebeccapurple;
    padding:0.9em;
    background-color: aquamarine;
    border-radius:.6em;
}

.itemList
{
    list-style-type: none;
    text-align: center;
}

header
{
    font-size: 300%;
    font-weight: bolder;
}

.pictureCenter
{
    display:block;
    margin-right:auto;
    margin-left:auto;
}

.pureCenter *
{
    display:block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#wrapper
{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    min-width:  550px;
    max-width: 1280px;
    box-shadow: 3px 3px 3px #333333;
}

.chunkyLink
{
    background-color: aquamarine;
}

.imgLink img:hover
{
    background-color: azure;
}

.chunkyLink a:hover
{
    text-decoration: none;
    border-style:solid;
    border-width: 6px;
    border-color:rebeccapurple;
    border-radius:.6em;
}

p{
    text-align: center;
}

nav
{
    background-color: rebeccapurple;
}

nav ul
{
    list-style-type: none;
    text-align: center;
}

nav li
{
    display: inline-block;
}

nav a
{
    color:white;
    text-decoration: none;
    text-align: center;
    display: block;
    font-weight: bold;
    border-style:solid;
    border-width: 3.5px;
    border-color:white;
    padding:0.9em;
    border-radius:.6em;
}

nav a:hover
{
    background-color: #8034b4;
}

header h1
{
    text-align: center;
}